################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ardita/bin/Debug/net6.0
/.vs/Ardita/DesignTimeBuild/.dtbcache.v2
/.vs/Ardita/FileContentIndex/8eb31059-88d6-4c1a-bf4b-d2bdc4f941dc.vsidx
/.vs/Ardita/FileContentIndex/ff585ed4-e5f7-4f09-9041-17e8025ba2db.vsidx
/Ardita.Services/bin/Debug/net6.0/Ardita.Services.pdb
/Ardita.Services/bin/Debug/net6.0/Ardita.Services.dll
/Ardita.Services/bin/Debug/net6.0/Ardita.Services.deps.json
/Ardita.Services/bin/Debug/net6.0/Ardita.Repositories.pdb
/Ardita.Services/bin/Debug/net6.0/Ardita.Repositories.dll
/Ardita.Services/bin/Debug/net6.0/Ardita.Models.pdb
/Ardita.Services/bin/Debug/net6.0/Ardita.Models.dll
/Ardita.Repositories/obj/Debug/net6.0/ref/Ardita.Repositories.dll
/Ardita.Repositories/obj/Debug/net6.0/Ardita.Repositories.pdb
/Ardita.Repositories/obj/Debug/net6.0/Ardita.Repositories.dll
/Ardita.Repositories/obj/Debug/net6.0/Ardita.Repositories.csproj.CoreCompileInputs.cache
/Ardita.Repositories/obj/Debug/net6.0/Ardita.Repositories.csproj.AssemblyReference.cache
/Ardita.Repositories/obj/Debug/net6.0/refint/Ardita.Repositories.dll
/Ardita.Repositories/bin/Debug/net6.0/Ardita.Repositories.pdb
/Ardita.Repositories/bin/Debug/net6.0/Ardita.Repositories.dll
/Ardita.Repositories/bin/Debug/net6.0/Ardita.Models.pdb
/Ardita.Repositories/bin/Debug/net6.0/Ardita.Models.dll
/Ardita.Models/obj/Debug/net6.0/ref/Ardita.Models.dll
/Ardita.Models/obj/Debug/net6.0/refint/Ardita.Models.dll
/Ardita.Models/obj/Debug/net6.0/Ardita.Models.pdb
/Ardita.Models/obj/Debug/net6.0/Ardita.Models.dll
/Ardita.Models/obj/Debug/net6.0/Ardita.Models.csproj.CoreCompileInputs.cache
/Ardita.Models/bin/Debug/net6.0/Ardita.Models.pdb
/Ardita.Models/bin/Debug/net6.0/Ardita.Models.dll
/.vs/Ardita/v16/.suo
/.vs/Ardita/v17/.futdcache.v2
/.vs/Ardita/v17/fileList.bin
/.vs/Ardita/v17/.suo
/Ardita.Extensions/obj/Debug/net6.0/Ardita.Extensions.csproj.AssemblyReference.cache
