@model Ardita.Models.DbModels.TrxFloor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Floors</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home", new {Area = "General"})"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">
                Master Data
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Floor", new {Area = "MasterData"})">Classification</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Classification</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form id="frmPosition" role="form" enctype="multipart/form-data" asp-controller="Floor" asp-area="MasterData" asp-action="Save">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Unit Kearsipan</label>
                                        <input type="hidden" value="@Model.FloorId" asp-for="FloorId" />
                                        <select id="txtUnitArchive" class="select2_demo_1 form-control" asp-for="ArchiveUnitId" asp-items="ViewBag.listClassificationType" data-placeholder="-- Pilih Jenis Klasifikasi --"><option value=""></option></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Kode Lantai</label>
                                        <input type="text" placeholder="" id="txtFloorCode" class="form-control" asp-for="FloorCode" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Nama Lantai</label>
                                        <input type="text" placeholder="" id="txtFloorName" class="form-control" asp-for="FloorName" required>
                                    </div>
                                </div>
                                <div>
                                    <a href="@Url.Action("Index", "Floor", new { Area = "MasterData" })" class="btn btn-sm btn-danger float-right m-t-n-xs">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">

    </script>
}