@model Ardita.Models.DbModels.MstUser
@using Ardita.Models.ViewModels;
@using Ardita.Globals;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = Const.ViewStart;

    FormModel form = Html.Form();
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Data</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action(Const.Index, Const.User, new { Area = Const.UserManage})">Users</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Data</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>User</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="form_basic.html#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <form role="form" id="frmUser" enctype="multipart/form-data" asp-controller="User" asp-area="UserManage" asp-action="Save">
                                <div class="form-group">
                                    <label>Employee</label>
                                    <select asp-for="EmployeeId" id="txtEmployeeId" asp-items="ViewBag.listEmployees" class="select2_demo_1 form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" placeholder="" id="txtUserName" class="form-control" asp-for="Username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" placeholder="" id="txtUserPassword" class="form-control" asp-for="Password">
                                </div>
                                <div>
                                    <a href="@Url.Action(Const.Index, Const.User, new { Area = Const.UserManage })" class="btn btn-sm btn-danger float-right m-t-n-xs">Cancel</a>
                                    <button onclick="onSubmit(this, event);" class="btn btn-sm btn-primary float-right m-t-n-xs mr-1" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            initForms("@form.CurrentAction");

            $("#txtEmployeeId").select2({
                theme: 'bootstrap4',
            });
        });

        function validate() {
            if ($('#txtUserName').val() == "") {
                swal("Please enter Username !");
                return false;
            } else if ($('#txtUserPassword').val() == "") {
                swal("Please enter Employee Name !");
                return false;
            } else if ($('#txtEmployeeId').val() == "") {
                swal("Please enter Employee!");
                return false;
            } else {
                return true;
            }
        }

        function onSubmit(ctl, event) {
            event.preventDefault();
            swal({
                title: "Do you want to save it?",
                text: "Please check Information before Submiting!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Save",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        if (validate() == true) {
                            $("#frmUser").submit();
                        }
                    } else {
                        swal("Cancelled", "You have Cancelled Form Submission!", "error");
                    }
                });
        }
    </script>
}